.features__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    background-color: #f5f4fa;

    margin-bottom: 30px;
    border-radius: 4px;
}
.features__subtitle {
    @include font($fw: 700);
    text-transform: uppercase;
    text-align: center;
    color: var(--font-color-subtitle);
    margin-bottom: 10px;
}
.features__text {
    @include font($lh: 24px);
    color: var(--font-color-text);
}

@media screen and (max-width: 767px) {
    .features__item:not(:last-child) {
        margin-bottom: 30px;
    }
}
@media screen and (min-width: 768px) {
    .features__icons {
        width: 354px;
        height: 120px;
    }
    .features {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    .features__subtitle {
        text-align: start;
    }
    .features__item {
        display: block;
    }
    .features__text {
        max-width: 354px;
    }
}
/*.features {
    display: flex;
    justify-content: center;
    align-items: center;
}
.features__item {
    min-height: 270px;
    &:not(:last-child) {
        margin-right: 30px;
    }
}

.features__icons {
    display: flex;
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 4px;
}

.features__subtitle {
    @include font($lh: 16.41px);
    text-transform: uppercase;
    color: var(--font-color-subtitle);
    margin-bottom: 10px;
}
.features__text {
    @include font($lh: 24px);
    color: var(--font-color-text);
}*/
