.filterList {
    display: flex;

    gap: 8px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.filterList__item:not(:last-child) {
    margin-right: 8px;
}
.filterList__btn {
    font-family: inherit;
    @include font(16px, 500, 26px);
    letter-spacing: 0.03em;
    display: block;
    padding: 6px 22px;
    min-height: 38px;
    color: var(--font-color-subtitle);
    border: 1px solid var(--background-light);
    border-radius: 4px;

    cursor: pointer;
    background-color: var(--background-light);
    transition: color var(--transition-dur-fanc),
        background-color var(--transition-dur-fanc),
        border var(--transition-dur-fanc), box-shadow var(--transition-dur-fanc);
    &:hover,
    &:focus {
        color: var(--font-color-on-dark);
        background-color: var(--color-selected);
        border: 1px solid var(--color-selected);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12),
            0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
    }
}
@media screen and (min-width: 768px) {
    .filterList {
        justify-content: center;
        margin-bottom: 30px;
    }
}
/*.filterList {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.filterList__item:not(:last-child) {
    margin-right: 8px;
}

.filterList__btn {
    font-family: inherit;
    @include font(16px, 500, 26px);
    letter-spacing: 0.03em;
    display: block;
    padding: 6px 22px;
    min-height: 38px;
    color: var(--font-color-subtitle);
    border: 1px solid var(--background-light);
    border-radius: 4px;

    cursor: pointer;
    background-color: var(--background-light);
    transition: color var(--transition-dur-fanc),
        background-color var(--transition-dur-fanc),
        border var(--transition-dur-fanc), box-shadow var(--transition-dur-fanc);
    &:hover,
    &:focus {
        color: var(--font-color-on-dark);
        background-color: var(--color-selected);
        border: 1px solid var(--color-selected);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12),
            0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
    }
}*/
