.networks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.networks__link {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    transition: background-color var(--transition-dur-fanc);
    &:hover,
    &:focus {
        background-color: var(--color-selected);
    }
}
.networks__icon {
    fill: #afb1b8;
    transition: fill var(--transition-dur-fanc);
    .networks__link:hover &,
    .networks__link:focus & {
        fill: #ffffff;
    }
}
