.projectList__title {
    @include font(18px, 700, 36px);

    letter-spacing: 0.06em;

    color: var(--font-color-subtitle);

    margin-bottom: 4px;
}
.projectList__description {
    @include font($fs: 16px, $lh: 30px);

    color: var(--font-color-text);
}
.projectList__imgWrapper {
    position: relative;
    overflow: hidden;
}
.projectList__overlay {
    position: absolute;
    @include font($fs: 18px, $lh: 28px);
    min-height: 100%;
    color: var(--font-color-on-dark);
    background-color: rgba(33, 150, 243, 0.9);
    width: 100%;
    top: 0;
    padding: 77px 24px;
    overflow: auto;
    transform: translate(0, 101%);
    transition: transform var(--transition-dur-fanc);
    .projectList__link:hover &,
    .projectList__link:focus & {
        transform: translate(0, 0);
    }
}
.projectList__item:not(:last-child) {
    margin-bottom: 30px;
}
.projectList__link {
    display: block;

    transition: box-shadow var(--transition-dur-fanc);
    &:hover,
    &:focus {
        box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16),
            0 4px 4px 0 rgba(0, 0, 0, 0.06);
    }
}
.projectList__card {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
}
.imgSize {
    min-width: 450px;
}

@media screen and (min-width: 768px) {
    .projectList {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    .imgSize {
        min-width: 354px;
    }
}
@media screen and (min-width: 1200px) {
    .projectList__item {
        flex-basis: calc((100% - 2 * 30px) / 3);
    }
    .projectList__overlay {
        padding: 63px 24px;
    }
    .imgSize {
        min-width: 370px;
    }
}
