.projectList {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.projectList__item {
    flex-basis: calc((100% - 2 * 30px) / 3);
}
.projectList__link {
    display: block;

    transition: box-shadow var(--transition-dur-fanc);
    &:hover,
    &:focus {
        box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16),
            0 4px 4px 0 rgba(0, 0, 0, 0.06);
    }
}

.projectList__imgWrapper {
    position: relative;
    overflow: hidden;
}

.projectList__card {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
}

.projectList__title {
    @include font(18px, 700, 36px);

    letter-spacing: 0.06em;

    color: var(--font-color-subtitle);

    margin-bottom: 4px;
}
.projectList__description {
    @include font($fs: 16px, $lh: 30px);

    color: var(--font-color-text);
}

.projectList__overlay {
    position: absolute;
    @include font($fs: 18px, $lh: 28px);
    min-height: 100%;
    color: var(--font-color-on-dark);
    background-color: rgba(33, 150, 243, 0.9);
    width: 100%;
    top: 0;
    padding: 63px 24px;
    overflow: auto;
    transform: translate(0, 101%);
    transition: transform var(--transition-dur-fanc);
    .projectList__link:hover &,
    .projectList__link:focus & {
        transform: translate(0, 0);
    }
}
